<section>
    <div class="cont">
        <div class="overlay">
            <!-- header -->
            <div class="header">
                <div class="btns">
                    <select class="cr">
                        <option>English</option>
                        <option>العربية</option>
                    </select>
                    <button class="btn">Sign In</button>
                </div>

                <div class="logo">
                    <h1>NE<span>TFL</span>IX</h1>
                </div>
            </div>

            <!--body  -->
            <div class="body">
                <div class="body-content">
                    <div class="body-header">
                        <h2>Unlimited movies, TV
                            <br>shows,  and more.
                        </h2>
                        <!-- <h2>Watch anywhere. Cancel anytime.</h2> -->
                    </div>
                    <span>Starts at EGP 100. Cancel anytime.</span>
                    <p>Ready to watch? Enter your email to create or restart your membership.</p>
                </div>

                <div class="body-form">
                    <input type="email" placeholder="Email address">
                    <button class="btn">Get Started
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>



        </div>
    </div>

</section>

<section>
    
</section>