<section class="fluid-container">
  <div class="home-container">
    <div class="col-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-10 content">
      <!-- <app-nav></app-nav> -->

      <div class="hero-section cr"   [routerLink]="['/details', movies[14].id]" *ngIf="movies.length > 0">
        <div
       
          class="hero-backdrop "
          [style.backgroundImage]="
            'url(' + image_path + movies[14].backdrop_path + ')'
          "
        >
          <div class="gradient-overlay"></div>
        </div>
        <div class="hero-content">
          <div class="poster-container">
            <img
              [src]="image_path + movies[14].poster_path"
              [alt]="movies[14].title"
              class="movie-poster"
            />
          </div>
          <div class="movie-details">
            <div class="movie-metadata">
              <span class="rating">
                <i class="fa-solid fa-star"></i>
                {{ movies[14].vote_average | number : "1.1-1" }}
              </span>
              <span class="year">{{
                movies[14].release_date | date : "yyyy"
              }}</span>
              <span class="duration">2h 15m</span>
            </div>
            <h1>{{ movies[14].title }}</h1>
            <p class="overview">{{ movies[14].overview }}</p>
            <div class="genre-tags">
              <span class="tag">Action</span>
              <span class="tag">Adventure</span>
              <span class="tag">Sci-Fi</span>
            </div>
            <div class="hero-btns">
              <button class="watch-btn">
                <i class="fa-solid fa-play"></i>
                <span>Watch now</span>
              </button>
              <button class="info-btn">
                <i class="fa-solid fa-circle-info"></i>
                <span>More info</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="content-body">
        <div class="section-title">
          <h4>Trending Movies</h4>
          <span routerLink="/all-movies" class="cr">See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>

        <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions_trending">
            @for(movie of movies ; track movie.id){
              <ng-template carouselSlide>
                <div class="image" [routerLink]="['/details', movie.id]">
                  <img
                    [src]="image_path + movie.poster_path"
                    [alt]="movie.title"
                  />
                  <div class="overlay">
                    <div class="movie-footer">
                      <div class="movie-info">
                        <h6>{{ movie.title }} {{movie.name}}</h6>
                        <p>{{ movie.release_date | date : "yyyy" }}</p>
                        <span>
                          {{ movie.vote_average | number : "1.1-1" }}
                          <i
                            *ngFor="let star of getStarRating(movie.vote_average)"
                            class="fa-solid fa-star"
                            [ngClass]="{ filled: star === 1, empty: star === 0 }"
                          >
                          </i>
                        </span>
                      </div>
                      <div class="movie-btns">
                        <button class="watch-btn">
                          <i class="fa-solid fa-play"></i> Watch now
                        </button>
                        <button id="plus-btn">
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            }
          </owl-carousel-o>
        </div>

        <!-- continue watching -->
        <div class="section-title">
          <h4>Continue watching</h4>
          <span>See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>

        <div class="trending-slider continue-watching cr">
          <owl-carousel-o [options]="customOptions_continue_watching">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="play-overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="progress-container">
                      <span class="time current">45:30</span>
                      <div class="progress-bar"></div>
                      <span class="time total">1:25:00</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div>

        <!-- <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="movie-btns">
                      <button class="watch-btn">
                        <i class="fa-solid fa-play"></i> Watch now
                      </button>
                      <button id="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div> -->

        <!-- Top rated -->
        <!-- <div class="section-title">
          <h4 class="top-rate">Top Rated <i class="fa-solid fa-star"></i></h4>
          <span>See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>
        <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="movie-btns">
                      <button class="watch-btn">
                        <i class="fa-solid fa-play"></i> Watch now
                      </button>
                      <button id="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div> -->

        <!-- will replaced to use as continue watching movies feat -->
        <!-- <div class="trend-movies">
          <div class="movie-container cr" *ngFor="let movie of movies">
            <div class="image">
              <img [src]="image_path + movie.poster_path" [alt]="movie.title" />
              <div class="overlay">
                <div class="movie-footer">
                  <div class="movie-info">
                    <h6>{{ movie.title }}</h6>
                    <p>{{ movie.release_date | date : "yyyy" }}</p>
                    <span>
                      {{ movie.vote_average | number : "1.1-1" }}
                      <i
                        *ngFor="let star of getStarRating(movie.vote_average)"
                        class="fa-solid fa-star"
                        [ngClass]="{ filled: star === 1, empty: star === 0 }"
                      >
                      </i>
                    </span>
                  </div>
                  <div class="movie-btns">
                    <button class="watch-btn">
                      <i class="fa-solid fa-play"></i> Watch now
                    </button>
                    <button id="plus-btn">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
