.home-container {
  display: flex;
  background-color: #141414; // Dark background for modern look
}

.logo img {
  width: 80%;
}

.sidebar {
  border-right: 1px solid #333; // Darker border for subtle separation
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Align items to the top
  font-family: 'Roboto', sans-serif;
  font-size: 16px; // Slightly smaller font for modern look
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px; // Add padding for spacing
}

.sidebar a {
  color: white;
}


.sidebar h6 {
  margin: 20px 0 10px 0; // Add spacing around headings
  color: gray;
  font-weight: 700;
}

.sidebar i {
  margin-right: 10px; // Space between icon and text
}

.content {
  background-color: #1c1c1c; // Dark background for content area

}