<section class="fluid-container">
  <div class="home-container">
    <div class="col-2 sidebar">
      <div class="logo">
        <img src="../../../assets/images/Netflix_Logo_RGB.png" alt="logo" />
      </div>
      <hr />
      <div class="menu">
        <ul class="nav flex-column">
          <h6>Menu</h6>
          <li class="nav-item">
            <a routerLink="/home" class="nav-link" routerLinkActive="active">
              <span><i class="fas fa-home"></i> Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="discovery"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-search"></i> Discovery</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="community"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-users"></i> Community</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="coming soon"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-calendar-alt"></i> Coming soon</span>
            </a>
          </li>
        </ul>
      </div>
      <hr />
      <div class="library">
        <ul class="nav flex-column">
          <h6>Library</h6>
          <li class="nav-item">
            <a routerLink="recent" class="nav-link" routerLinkActive="active">
              <span><i class="fas fa-clock"></i> Recent</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="bookmarked"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-bookmark"></i> Bookmarked</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="top-rated"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-star"></i> Top Rated</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="downloads"
              class="nav-link"
              routerLinkActive="active"
            >
              <span><i class="fas fa-download"></i> Downloads</span>
            </a>
          </li>
        </ul>
      </div>
      <hr />
      <div class="settings">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="settings" class="nav-link" routerLinkActive="active">
              <span><i class="fas fa-cog"></i> Settings</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="help" class="nav-link" routerLinkActive="active">
              <span><i class="fas fa-question-circle"></i> Help</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="logout" class="nav-link" routerLinkActive="active">
              <span><i class="fas fa-sign-out-alt"></i> Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- content -->
    <div class="col-10 content">
      <app-nav></app-nav>
      <div class="content-body">
        <div class="section-title">
          <h4>Trending Movies</h4>
          <span>See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>

        <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions_trending">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="movie-btns">
                      <button class="watch-btn">
                        <i class="fa-solid fa-play"></i> Watch now
                      </button>
                      <button id="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div>

        <!-- continue watching -->
        <div class="section-title">
          <h4>Continue watching</h4>
          <span>See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>

        <div class="trending-slider continue-watching cr">
          <owl-carousel-o [options]="customOptions_continue_watching">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="play-overlay">
                  <i class="fa-solid fa-play"></i>
                </div>
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="progress-container">
                      <span class="time current">45:30</span>
                      <div class="progress-bar"></div>
                      <span class="time total">1:25:00</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div>

        <!-- <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="movie-btns">
                      <button class="watch-btn">
                        <i class="fa-solid fa-play"></i> Watch now
                      </button>
                      <button id="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div> -->

        <!-- Top rated -->
        <!-- <div class="section-title">
          <h4 class="top-rate">Top Rated <i class="fa-solid fa-star"></i></h4>
          <span>See all <i class="fa-solid fa-arrow-right"></i></span>
        </div>
        <div class="trending-slider cr">
          <owl-carousel-o [options]="customOptions">
            @for(movie of movies ; track movie.id){
            <ng-template carouselSlide>
              <div class="image">
                <img
                  [src]="image_path + movie.poster_path"
                  [alt]="movie.title"
                />
                <div class="overlay">
                  <div class="movie-footer">
                    <div class="movie-info">
                      <h6>{{ movie.title }}</h6>
                      <p>{{ movie.release_date | date : "yyyy" }}</p>
                      <span>
                        {{ movie.vote_average | number : "1.1-1" }}
                        <i
                          *ngFor="let star of getStarRating(movie.vote_average)"
                          class="fa-solid fa-star"
                          [ngClass]="{ filled: star === 1, empty: star === 0 }"
                        >
                        </i>
                      </span>
                    </div>
                    <div class="movie-btns">
                      <button class="watch-btn">
                        <i class="fa-solid fa-play"></i> Watch now
                      </button>
                      <button id="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div> -->

        <!-- will replaced to use as continue watching movies feat -->
        <!-- <div class="trend-movies">
          <div class="movie-container cr" *ngFor="let movie of movies">
            <div class="image">
              <img [src]="image_path + movie.poster_path" [alt]="movie.title" />
              <div class="overlay">
                <div class="movie-footer">
                  <div class="movie-info">
                    <h6>{{ movie.title }}</h6>
                    <p>{{ movie.release_date | date : "yyyy" }}</p>
                    <span>
                      {{ movie.vote_average | number : "1.1-1" }}
                      <i
                        *ngFor="let star of getStarRating(movie.vote_average)"
                        class="fa-solid fa-star"
                        [ngClass]="{ filled: star === 1, empty: star === 0 }"
                      >
                      </i>
                    </span>
                  </div>
                  <div class="movie-btns">
                    <button class="watch-btn">
                      <i class="fa-solid fa-play"></i> Watch now
                    </button>
                    <button id="plus-btn">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
