<div class="menu">
  <div class="menu-title">
    <span>New Menu</span>
    <h2>View Menu</h2>
  </div>

  <div class="menu-content">
    <div class="item">
      <div>
        <img src="../../../assets/images/download.png" alt="" />
      </div>

      <div class="caption">
        <h3>Creamy Soup</h3>
        <p>Delicious creamy soup with a touch of spice</p>
      </div>

    </div>
  </div>

  <div class="menu-content">
    <div class="item">
      <div>
        <img src="../../../assets/images/download.png" alt="" />
      </div>

      <div class="caption">
        <h3>Creamy Soup</h3>
        <p>Delicious creamy soup with a touch of spice</p>
      </div>
      
    </div>
  </div>
  <div class="menu-content">
    <div class="item">
      <div>
        <img src="../../../assets/images/download.png" alt="" />
      </div>

      <div class="caption">
        <h3>Creamy Soup</h3>
        <p>Delicious creamy soup with a touch of spice</p>
      </div>
      
    </div>
  </div>
  <div class="clearfix"></div>
</div>
