
.parent{
    background-color: tomato;
    // height: 500px;
    // padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    // column-gap: 10px;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
}


.child{
    background-color: #09c;
    width: 10%;
    border: 1px solid black;
    width: 25%;
    // margin: 10px;
}
