.sidebar {
  border-right: 1px solid #333;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #141414;

  .logo img {
    width: 80%;
  }

  a {
    color: white;
  }

  h6 {
    margin: 20px 0 10px 0;
    color: gray;
    font-weight: 700;
  }

  i {
    margin-right: 10px;
  }

  .nav-item:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .active {
    background-color: #e50914;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
}
