.side-menu-body{
    width: 200px;
    height: 100vh;
    background-color:black;
    
    border-right: 2px  solid gray;
}

.side-menu-items{

    position: absolute;
    top: 150px;
    left: 5px;
  }