<div class="parent">
<div class="div div1">DIV1</div>
<div class="div div2">DIV2</div>
</div>

<div class="test">
    <!-- <p>Lorem, ipsum dolor.</p> -->
    <h2>Web <span>Design</span></h2>
    <span>Development</span>

</div>
<p >1</p>



<!-- <div class="item">

    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse voluptate ut a inventore enim ratione. Ea aut iste possimus incidunt minus suscipit sit, atque consequatur explicabo mollitia sed quam provident!</p>
</div>

<div class="item">

    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse voluptate ut a inventore enim ratione. Ea aut iste possimus incidunt minus suscipit sit, atque consequatur explicabo mollitia sed quam provident!</p>
</div>

<div class="item">

    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse voluptate ut a inventore enim ratione. Ea aut iste possimus incidunt minus suscipit sit, atque consequatur explicabo mollitia sed quam provident!</p>
</div>

<div class="item">

    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse voluptate ut a inventore enim ratione. Ea aut iste possimus incidunt minus suscipit sit, atque consequatur explicabo mollitia sed quam provident!</p>
</div> -->

