.nav-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color:  gray;

}
a{
  color: white;
}
.active-link {
  font-weight: bold;
  color: red !important;
}
.logo {
  position: relative;
  width: 50px;
  left: 15px;
  background-size: contain;
}
