/* Align search field */
.search-field input {
  width: 265px;
  height: 35px;
  // border: 0.25px solid white;
  color: white;
  border-radius: 15px;
  background-color: transparent;
  padding-left: 10px;
}

/* Logo styling */
.logo {
  height: 40px;
  border-radius: 50%;
  border: 3.5px solid rgb(211, 37, 37);
}

/* Navbar Styling */
.nav-bar {
  margin-left: 100px;
  margin-top: 30px;
  padding: 15px 50px;
  color: white;
  display: flex;
  justify-content: space-between; /* Moves search to left, logo & name to right */
  align-items: center;
}

/* Move logo & name further right */
.nav-items {
  margin-left:180px; /* Shift more to the right */
}

/* Add space between logo and name */
// .nav-items h3 {
//   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//   margin-right:  20px; 
//   font-size: medium;/* Adds more spacing between logo and name */
// }

/* Reduce placeholder font size */
.search-field input::placeholder {
  font-size: 12px; /* Adjust size */
  color: rgba(255, 255, 255, 0.7); /* Light color */
}

