<section class="fluid-container">
  <div class="home-container">
    <div class="col-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-10 content">
      <section class="all-movies-section">
        <div class="header">
          <h1>All Movies</h1>
          <p>Discover the most popular movies right now</p>
        </div>

        <div class="loading-spinner" *ngIf="loading">
          <div class="spinner"></div>
        </div>

        <ng-container *ngIf="!loading">
          <div class="movies-grid">
            <div *ngFor="let movie of movies" class="movie-card" [routerLink]="['/details', movie.id]">
              <div class="poster">
                <img [src]="movie.poster_path ? (image_path + movie.poster_path) : 'assets/images/no-poster.jpg'" [alt]="movie.title">
                <div class="overlay">
                  <div class="quick-info">
                    <div class="rating">
                      <i class="fa-solid fa-star"></i>
                      <span>{{movie.vote_average | number:'1.1-1'}}</span>
                    </div>
                    <button class="watch-btn">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="movie-info">
                <h3>{{movie.title}}</h3>
                <p class="release">{{movie.release_date | date:'MMM d, y'}}</p>
              </div>
            </div>
          </div>

          <div class="pagination">
            <button class="nav-btn" [disabled]="currentPage === 1" (click)="previousPage()">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <div class="page-indicators">
              <button 
                *ngFor="let page of getVisiblePages()" 
                [class.active]="page === currentPage"
                (click)="loadMovies(page)">
                {{page}}
              </button>
            </div>
            <button class="nav-btn" [disabled]="currentPage === totalPages" (click)="nextPage()">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</section>
