<div class="signup-form">
  <div class="cont">
    <div class="logo">
      <img src="../../../assets/images/Netflix_Logo_RGB.png" alt="" />
    </div>
    <div class="form-body">
      <h2>Sign Up</h2>
      <form>
        <div class="form-inputs">
          <div class="name">
            <input type="text" placeholder="Full Name" />
          </div>

          <div class="email">
            <input type="text" placeholder="Email or mobile number" />
          </div>

          <div class="password">
            <input type="password" placeholder="Password" />
            <span class="show-password cr"><i class="fa-solid fa-eye"></i></span>
          </div>

          <div class="confirm-password">
            <input type="password" placeholder="Confirm Password" />
            <span class="show-password cr"><i class="fa-solid fa-eye"></i></span>
          </div>

          <div class="signup-btn cr">
            <button type="submit" class="btn" routerLink="/login" >Sign Up</button>
          </div>
        </div>
      </form>

      <div class="login">
        <p>Already have an account? <a class="cr" routerLink="/login"> Sign in now</a></p>
      </div>

      <div class="warn-p">
        <p>This page is protected by Google reCAPTCHA to ensure you're not a bot.</p>
      </div>

      <div class="learnmore">
        <a class="cr" href="#">Learn more.</a>
      </div>
    </div>
  </div>
</div>
